<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each selectedBeach}}
            <img class="info-img" src="{{image}}" alt="{{name}}">
            <h3>{{name}}</h3>
            <p>{{caption}}</p>
            <p> {{city}} {{country}} </p>
            <p>{{description}}</p>
            <div>
                <p>{{comments}}</p>
            </div>
        </div>
    </div>
    {{/each}}

    <a class="btn btn-dark" href="/beach/editar/{{id}}">Editar playa</a>
</div>