<div class="row align-items-start">
    <div class="col-md-12">
        {{#with selectedBeach}}
        <img class="info-img" src="{{image}}" alt="{{name}}">
        <h3>{{name}}</h3>
        <p>{{caption}}</p>
        <p> {{city}} {{country}} </p>
        <p>{{description}}</p>
        <div>
            <p>{{comments}}</p>
        </div>
        <input id="id" hidden value={{id}}>
        {{/with}}
    </div>
</div>

<div class="weather">

</div>

<a class="btn btn-dark" href="/beach/editar/{{id}}">Editar playa</a>

<script src="/js/weather.js"></script>