<div class="container">
    <div class="row">
        <div class="row weather">
            {{#with weather}}
            {{#each weather}}
            <div>
                <figure>
                    <img src="http://openweathermap.org/img/wn/{{icon}}.png" alt="">
                </figure>
            </div>
            <div>
                <figure>{{description}}</figure>
            </div>
            <div>
                {{/each}}
                <p>{{main.temp}}ยบ</p>
                {{/with}}
            </div>
        </div>
        <div class="col-md-12">
            {{#with selectedBeach}}
            <img class="info-img" src="{{image}}" alt="{{name}}">
            <h3>{{name}}</h3>
            <p>{{caption}}</p>
            <p><img src="/img/chincheta.png" class="chincheta" alt="ubicacion">{{city}} {{country}} </p>
            <p>{{description}}</p>
            <div>
                <p>{{comments}}</p>
            </div>
            <input id="id" hidden value={{id}}>
            <input name="longitude" hidden value={{longitude}}>
            <input name="latitude" hidden value={{latitude}}>
           
            <a class="btn btn-outline-info" href="/beach/editar/{{id}}">Editar playa</a>
            <a class="btn btn-outline-info" href="/beach/delete/{{id}}" style="color: red">Eliminar</a>
            {{#if isAdmin}}
            {{/if}}
            {{/with}}
        </div>
        <input id="id" hidden value={{id}}>
    </div>

    <figure id="placesMap"></figure>



</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/mapstyles.js"></script>
<script src="/js/directions.js"></script>
<script src="/js/map-beaches-app.js"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUayJrMq-hUKKbqkfcWM9ycKRhWBHXerc&callback=initMap"></script>