<div class="container">
    <h2>Playas internacionales</h2>

    {{#if isAdmin}}
    <a class="btn btn-outline-info" href="/beach/crear">Crear playa</a>
    {{/if}}

    <div class="row">
        {{#each allInternationalBeaches}}
        <div class="col-md-4">
            <img class="detail-img" src="{{image}}" alt="{{name}}">
            <h3>{{name}}</h3>
            <p><img src="/img/chincheta.png" class="chincheta" alt="ubicacion">{{city}}, {{country}}</p>
            <p> {{caption}} </p>
            <a class="btn btn-outline-info" href="/beach/info/{{id}}">+ info</a>
        </div>
        {{/each}}
    </div>
</div>