<div class="container">
    <h1>Playas Nacionales</h1>


    <div class="row">
        {{#each allNationalBeaches}}
        <div class="col-md-4">
            <img class="detail-img" src="{{image}}" alt="{{name}}">
            <h3>{{name}}</h3>
            <p>{{city}}, {{country}}</p>
            <p> {{caption}} </p>
            <a class="btn btn-dark" href="#">+ info</a>
            | <a class="btn btn-dark" href="/beach/editar/{{id}}">Edit</a>
            | <a class="btn btn-dark" href="/beach/delete/{{id}}" style="color: red">Delete</a>
            <a class="btn btn-dark" href="/beach/info/{{id}}">+ info</a>
        </div>
        {{/each}}
    </div>
    <a class="btn btn-dark" href="/beach/crear">Crear playa</a>

</div>