<div class="container">
    <h1>Playas internacionales</h1>
    <ul>
        {{#each allInternationalBeaches}}
        <li>{{image}}</li>
        <li>{{name}}</li>
        <li>{{city}}, {{country}}</li>
        <li>{{caption}}</li>
        {{/each}}
    </ul>
</div>