<div class="container">
    <h1>Playas nacionales</h1>
    <a class="btn btn-dark" href="/beach/nacional">Crear playa</a>
    <ul>
        {{#each allNationalBeaches}}
        <li>{{image}}</li>
        <li>{{name}}</li>
        <li>{{city}}, {{country}}</li>
        <li>{{caption}}</li>
        |<a href="/beach/editar?beach_id={{id}}">Edit</a>
        | <a href="/beach/delete/{{id}}" style="color: red">Delete</a>
        {{/each}}
    </ul>

    <a href="/" class="btn btn-dark">Volver</a>

</div>