<div class="container">
    <div class="row d-flex justify-content-center">
        <img class="logo-show" src="/img/beach-logo.png" alt="logo">
    </div>
    <div class="row d-flex justify-content-center">
        <h4>Playas Internacionales</h2>
    </div>

    {{#if isAdmin}}
    <a class=" btn btn-outline-info" href="/beach/crear">Crear playa</a>
    {{/if}}

    <div class="row">
        {{#each allInternationalBeaches}}
        <div class="col-md-4">
            <hr>
            <img class="detail-img" src="{{image}}" alt="{{name}}">
            <h5>{{name}}</h5>
            <p><img src="/img/chincheta.png" class="chincheta" alt="ubicacion">{{city}}, {{country}}</p>
            <p> {{caption}} </p>
            <a class="btn btn-outline-info" href="/beach/info/{{id}}">+ info</a>
        </div>
        {{/each}}
    </div>
</div>